.navigation-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 3.2rem;
  margin-bottom: 1.2rem;
  height: 8%;
  width: 100%;
  box-shadow: 0 8px 4px 0px rgb(121, 130, 138, 0.1),
    0 0px 20px 0 rgb(255, 255, 255);
}

.logo {
  width: 15rem;
  height: 10rem;
}

.navigation {
  padding-left: 20rem;
}

.nav-links-container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.8rem;
}

.nav-links-user {
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: -50%;
}

.nav-link {
  cursor: pointer;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  color: #514e4e;
  font-weight: bold;
}

/***************MEDIA QUERIES****************/

/*******************************/
/* BELOW 1440px(Landscape Tablets) */
/*******************************/
@media (max-width: 1440px) {
  .navigation-container {
    width: 100%;
    height: 8%;
  }
  .nav-links-user {
    width: 35%;
    height: 50%;
    gap: 12px;
    margin-left: 1%;
  }
}

/*******************************/
/* BELOW 1025px(Laptops) */
/*******************************/

@media (max-width: 1025px) {
  .navigation-container {
    grid-template-columns: 1fr 3fr 2fr;
    width: 100%;
    height: 8%;
    gap: 12px;
  }
  .logo {
    width: 120px;
    height: 76px;
  }
  .navigation {
    padding: 4px 8px;
  }
  .nav-links-user {
    width: 35%;
    height: 35%;
    gap: 12px;
    margin-left: 58%;
  }
  .nav-links-container.nav-links-user {
    margin-bottom: 36px;
  }
}

/*******************************/
/* BELOW 769px(Tablets) */
/*******************************/

@media (max-width: 769px) {
  .navigation-container {
    grid-template-columns: 1fr 2fr 2fr;
    width: 100%;
    height: 8%;
    gap: 12px;
    justify-content: flex-start;
  }

  .logo {
    width: 86px;
    height: 72px;
  }

  .navigation {
    padding: 4px 8px;
  }

  .nav-links-container.nav-links-user {
    gap: 12px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .nav-links-user {
    width: 35%;
    height: 30%;
    gap: 24px;
    margin-left: 60%;
  }
}

/*******************************/
/* BELOW 426px(Mobile Phones) */
/*******************************/

@media (max-width: 426px) {
  .navigation-container {
    grid-template-columns: 1fr 2fr 2fr;
    width: 100%;
    height: 8%;
    gap: 12px;
    justify-content: flex-start;
  }

  .logo {
    width: 72px;
    height: 40px;
  }

  .navigation {
    padding: 4px 8px;
  }

  .nav-link-main {
    display: none;
  }
  .nav-link {
    font-size: 12px;
  }

  .nav-links-container.nav-links-user {
    gap: 12%;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .nav-links-user {
    width: 40%;
    height: 90%;
    gap: 24px;
    margin-left: 5%;
  }
}

/*******************************/
/* BELOW 376px(Mobile Phones) */
/*******************************/

@media (max-width: 376px) {
  .navigation-container {
    grid-template-columns: 1fr 2fr 2fr;
    width: 100%;
    height: 8%;
    gap: 12px;
    justify-content: flex-start;
  }

  .logo {
    width: 72px;
    height: 40px;
  }

  .navigation {
    padding: 4px 8px;
  }

  .nav-link-main {
    display: none;
  }

  .nav-link {
    font-size: 12px;
  }

  .nav-links-container.nav-links-user {
    gap: 12%;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .nav-links-user {
    width: 50%;
    height: 90%;
    gap: 24px;
    margin-left: 0%;
  }
}
