.footer-container {
  font-size: 1.2rem;
  background-color: #f1f1f1;
  color: #000000;
  padding: 1.2rem;
  margin-top: 1.2rem;
}

.footer-content {
  padding-left: 15%;
}

/***************MEDIA QUERIES****************/

/*******************************/
/* BELOW 1025px(Laptop) */
/*******************************/
@media (max-width: 1025px) {
  .footer-container {
    width: 100%;
  }
  .footer-content {
    padding-left: 10%;
  }
}

/*******************************/
/* BELOW 769(Tablets) */
/*******************************/
@media (max-width: 769px) {
  .footer-container {
    width: 100%;
  }
  .footer-content {
    padding-left: 10%;
  }
}

/*******************************/
/* BELOW 426px(Mobile Phones) */
/*******************************/
@media (max-width: 426px) {
  .footer-container {
    width: 100%;
  }
  .footer-content {
    padding-left: 10%;
  }
}

/*******************************/
/* BELOW 376px(Mobile Phones) */
/*******************************/
@media (max-width: 376px) {
  .footer-container {
    width: 100%;
  }
  .footer-content {
    padding-left: 10%;
  }
}
