.products-page-container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  gap: 8px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1.2rem;
  max-width: 6rem;
}

.product-card {
  border-bottom: 2px dashed rgb(227, 227, 227);
  padding: 1.2rem;
  display: grid;
  gap: 1rem;
  box-shadow: 0 0px 4px 0px rgb(121, 130, 138, 0.15);
  clip-path: inset(0px -15px 0px 0px);
}

.product-heading {
  margin-bottom: 1rem;
  margin-left: 0.8rem;
  text-align: left;
  height: 3rem;
}

.product-img {
  margin-top: 1.2rem;
  min-height: 17rem;
  max-height: 17rem;
  object-fit: contain;
}

.product-desc {
  background-color: #f0f0f0;
  font-size: 1.2rem;
  padding: 0.8rem;
  line-height: 1.2;
  color: #000;
  overflow: hidden;
  min-height: 6.8rem;
  max-height: 6.8rem;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.product-footer p {
  font-size: 1.4rem;
}

.product-footer-media {
  display: none;
}

/***************MEDIA QUERIES****************/

/*******************************/
/* BELOW 789px(Tablets) */
/*******************************/
@media (max-width: 789px) {
  .products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
    max-width: 80%;
  }
  .product-card {
    padding: 8px;
    grid-template-columns: 1fr 1fr;
  }
  .product-heading {
    grid-column: 1/-1;
    margin-bottom: 10px;
    margin-left: 8px;
    text-align: left;
  }
  .product-img {
    grid-row: 2/3;
    min-height: 150px;
    max-height: 150px;
    width: 100%;
  }
  .product-desc {
    font-size: 14px;
    overflow: hidden;
    height: auto;
    min-height: 145px;
    max-height: 145px;
  }
  .product-footer {
    display: none;
  }
  .product-footer-media {
    display: inline;
    margin-left: 0px;
  }
  .product-footer-media button {
    width: 200%;
  }
}

/*******************************/
/* BELOW 426px(Mobile Phones) */
/*******************************/
@media (max-width: 426px) {
  .products-page-container {
    flex-direction: column;
  }
  .products-grid {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .product-card {
    padding: 8px;
    grid-template-columns: 1fr 1fr;
  }
  .product-img {
    grid-row: 2/4;
    min-height: 150px;
    max-height: 150px;
    width: 100%;
  }
  .product-desc {
    font-size: 12px;
    overflow: hidden;
    height: auto;
    line-height: 1.2;
    min-height: 110px;
    max-height: 110px;
  }
  .product-desc {
    line-height: 1.2;
  }
  .product-footer-media button {
    font-size: 12px;
    width: 100%;
  }
}

/*******************************/
/* BELOW 376px(Mobile Phones) */
/*******************************/
@media (max-width: 3760px) {
  .product-desc {
    line-height: 1.2;
  }
  .product-footer-media button {
    font-size: 10px;
    margin-right: 0px;
    width: 100%;
  }
}
